<!doctype html>
<html lang="en">

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>
    {%- if page.title is defined %}{{ page.title }} | {% endif -%}
    Hinoki</title>

<!-- broken... https://github.com/jgthms/bulma/issues/3894 -->
<!--<link rel="stylesheet" href="/css/bulma-no-helpers.min.css">-->
<link rel="stylesheet" href="/css/bulma.min.css">
<link rel="stylesheet" href="/css/hinoki-docs.css">

{% block content %}{% endblock content %}

</html>
